**Import Library**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
data =  pd.read_csv("house_prices_multivariate.csv")

In [ ]:
data.head()

,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,YrSold,SalePrice
0,65.0,8450,7,5,2003,2003,196.0,706,0,150,...,548,0,61,0,0,0,0,0,2008,208500
1,80.0,9600,6,8,1976,1976,0.0,978,0,284,...,460,298,0,0,0,0,0,0,2007,181500
2,68.0,11250,7,5,2001,2002,162.0,486,0,434,...,608,0,42,0,0,0,0,0,2008,223500
3,60.0,9550,7,5,1915,1970,0.0,216,0,540,...,642,0,35,272,0,0,0,0,2006,140000
4,84.0,14260,8,5,2000,2000,350.0,655,0,490,...,836,192,84,0,0,0,0,0,2008,250000

**Feature Selection**

In [ ]:
X = data.iloc[:, :-1]
y = data['SalePrice']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=9, train_size=0.5)

**Build Model Using Linear Regression**

In [ ]:
linear_reg =  LinearRegression()
linear_reg.fit(X_train, y_train)

LinearRegression()

In [ ]:
y_pred = linear_reg.predict(X_test)

In [ ]:
mean_squared_error(y_test, y_pred)

1498110701.9796638

In [ ]:
r2_score(y_test, y_pred)

0.7685337211020067

**Build Model Using Lasso Regression**

In [ ]:
lasso_reg =  Lasso(alpha=0.00001, normalize=True)
lasso_reg.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Lasso())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * np.sqrt(n_samples).
  FutureWarning,

Lasso(alpha=1e-05, normalize=True)

In [ ]:
y_pred = lasso_reg.predict(X_test)

In [ ]:
mean_squared_error(y_test, y_pred)

1498110674.7945087

In [ ]:
r2_score(y_test, y_pred)

0.7685337253022615

**Build Model Using Ridge Regression**

In [ ]:
ridge_reg =  Ridge(alpha=0.00001)
ridge_reg.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_ridge.py:157: LinAlgWarning: Ill-conditioned matrix (rcond=7.61687e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True, overwrite_a=True).T

Ridge(alpha=1e-05)

In [ ]:
y_pred = ridge_reg.predict(X_test)

In [ ]:
mean_squared_error(y_test, y_pred)

1498110703.1693766

In [ ]:
r2_score(y_test, y_pred)

0.7685337209181896